* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    background: white;
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: solid darkorchid;
    }   

h1 {
    padding: 1.5% 0px 0px 0px;
    margin-left: 20%;
    height: 79%;
    width: 15%;
    background: #8c41e2;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.navBar {
    padding: 2% 0px 0px 0px;
    height: 79%;
    width: 15%;
    background: white;
    position: absolute;
    right: 23.5%;
    bottom: 0px;
}

div.page {
    background-image: url(../images/light_honeycomb.png);
    margin-top: 0px;
    height: 500px;
    position: relative;
    border-bottom: 10px darkorchid solid;
}

section {
    margin: 1% 25%;
    background: white;
    height: 90%;
    width: 55%;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: -5%;
}

header.topBody {
    top: 0px;
    left: 0px;
    background: white;
    height: 25%;
}

form {
    margin-top: 10%;
    text-align: left;
}

.contactTitle {
    color: #8c41e2;
    background: white;
    height: 10%;
    width: 80%;
    position: absolute;
    top: -4%;
    left: -15%;
    text-align: left;
    border-bottom: 1px solid darkorchid;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type="text"], textarea {
    width: 84%;
}

#messageSpace {
    margin-left: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 17px;  
    background-color: #666666;
    text-align: center;
}